.top{
  width: 800px;
  margin: 0 auto;
}

.container{
  display: flex;
  text-align: center;
}
.item{
  margin:10px;
}

h2.intro{
  font-weight: lighter;
}

img.intro{
  width: 300px;
}

.introClicked{
  background-color: yellow;
  border: 2px solid red;
}
p.intro:hover{
  text-decoration: underline;
}
